<footer class="footer">
  <div class="container">
    <ul class="footer__menu">
      <li><a href="#" class="link-anim">Privacy policy</a></li>
      <li><a href="#" class="link-anim">About us</a></li>
      <li><a href="#" class="link-anim">Support</a></li>
    </ul>
    <div class="social">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="copyright">Copyright &copy; 1998 - 2016</div>
  </div>
</footer>