<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="logo">
          <span class="logo-name">Company</span>
          <span class="logo-name logo-name--green">Name</span>
        </a>
      </div>
      <div class="col-md-8">
        <nav class="menu">
          <ul class="menu--category">
            <li class="menu__sub">
              <a href="#" class="link-anim">Products</a>
              <ul class="menu__sub-item" id="catmenu">
                <li><a href="#" class="link-anim">Product item 1</a></li>
                <li><a href="#" class="link-anim">Product item 2</a></li>
                <li><a href="#" class="link-anim">Product item 3</a></li>
                <li><a href="#" class="link-anim">Product item 4</a></li>
                <li><a href="#" class="link-anim">Product item 5</a></li>
              </ul>
            </li>
            <li><a href="#" class="link-anim">News &amp; Events</a></li>
            <li><a href="#" class="link-anim">Support</a></li>
            <li><a href="#" class="link-anim">Contacts</a></li>
          </ul>

          <ul>
            <li><a href="#" class="link-anim">Login</a></li>
            <li><a href="#" class="link-anim">Buy Now</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="about">
      <h2 class="about-skill">WE SOLVE <span class="about-skill__dop">YOUR PROBLEMS</span></h2>
      <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit.<br>Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.</p>
    </div>
  </div>
</header>

