<section class="article article--text-change">
  <div class="row">
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon4"></span>
        <h3 class="article__title">Proin felis eros</h3>
        <p class="article__text">Iverra sed eros id, eleifend maximus tortor</p>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon5"></span>
        <h3 class="article__title">Fusce pretium enim</h3>
        <p class="article__text">Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis</p>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon6"></span>
        <h3 class="article__title">Vivamus urna eros</h3>
        <p class="article__text">Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio</p>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon7"></span>
        <h3 class="article__title">Proin felis eros</h3>
        <p class="article__text">Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper. Curabitur ex erat, euismod ac vestibulum vel, viverra non lorem.</p>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon8"></span>
        <h3 class="article__title">Maecenas congue nisi</h3>
        <p class="article__text">Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate <a href="#" class="article__link">arcu nisi</a></p>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon9"></span>
        <h3 class="article__title">Nullam purus velit</h3>
        <p class="article__text">Praesent ac turpis sit amet ex euismod congue vitae sit amet risus</p>
      </article>
    </div>
    <div class="col-12 text-center">
      <a href="#" class="btn">View All Our Products</a>
    </div>
  </div>
</section>