<section class="article article--bg">
  <div class="title-block">Etiam ac nisl ac quam sodales scelerisque elementum quis purus.</div>
  <div class="row">
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon1"></span>
        <h3 class="article__title">Donec efficitur molestie</h3>
        <p class="article__text">Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper. Curabitur ex erat, euismod ac vestibulum vel, viverra non lorem.</p>
        <a href="#" class="link-anim">Learn More</a>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon2"></span>
        <h3 class="article__title">Mauris interdum venenatis</h3>
        <p class="article__text">Vivamus cursus ante eu orci rutrum, vitae viverra ante dapibus. Vivamus porta molestie turpis, quis elementum nisi egestas eget.</p>
        <a href="#" class="link-anim">Learn More</a>
      </article>
    </div>
    <div class="col-md-4">
      <article class="article__item">
        <span class="article__icon3"></span>
        <h3 class="article__title">Cras sit amet</h3>
        <p class="article__text">Fusce suscipit, ante at imperdiet vehicula, ex augue feugiat enim, sed faucibus sem tortor quis turpis. Mauris lacinia neque id augue efficitur, ut feugiat massa efficitur.</p>
        <a href="#" class="link-anim">Learn More</a>
      </article>
    </div>
  </div>
</section>