@import "./fonts.scss";
body, p{
  font-family:$f-ptsans-r;
  font-size: 14px;
  color:$text-color;
}
h1,
.h1{
  font-family:$f-opensans-l;
  font-size:34px
}
h2,
.h2{font-size:26px}
h3,
.h3{
  font-size:20px;
  margin-bottom: 26px;
}
h4,
.h4{font-size:18px}
h5,
.h5{font-size:14px}
h6,
.h6{font-size:12px}
h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family:$f-ptsans-b;
}

/*
h1 - 34px
h2 - 26px
h3 - 20px
h4 - 18px
h5 - 14px
h6 - 12px
*/

.f-opensans-l{
  font-family:$f-opensans-l;
}
.f-opensans-sb{
  font-family:$f-opensans-sb;
}
.f-ptsans-b{
  font-family:$f-ptsans-b;
}
.f-ptsans-r{
  font-family:$f-ptsans-r;
}