$f-opensans-l: 'Open Sans Light', Arial;
$f-opensans-sb: 'Open Sans Semibold', Arial;
$f-ptsans-b: 'PT Sans Bold', Arial;
$f-ptsans-r: 'PT Sans', Arial;

$text-color: #333;
$link-color: #1657ab;

$blue-color-dark: #19263f;
$blue-color-light:#287ec2;
$blue-color-middle:#414b60;
$light-color: #fafafa;
$green-color: #8dc63f;
$white-color: #fff;
$black-color: #000;
$light-color-gray: #ebebeb;

$btn-b: #80b450;

$logo-height: 58px;

$letter-title: -.55px;
