<section class="partners">
  <article class="post-only">
    <div class="title-block title-block--description">Wordlwide recognition</div>
    <p class="post-only__text text-center">Integer bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non, dapibus vitae est.</p>
    <p class="post-only__text">Fusce pretium enim sit amet elementum eleifend. Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis, quis blandit justo nulla sed nisi. Vivamus urna eros, malesuada non massa sed, vestibulum maximus dui. Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio, eu commodo nisi vehicula ut. Maecenas congue nisi lorem, et maximus ante vestibulum eu. Vivamus non imperdiet ex.</p>
  </article>
  <div class="partners__list text-center">
    <a href="#"><img src="img/partner1.png" alt="partner1"></a>
    <a href="#"><img src="img/partner2.png" alt="partner2"></a>
    <a href="#"><img src="img/partner3.png" alt="partner3"></a>
    <a href="#"><img src="img/partner4.png" alt="partner4"></a>
    <a href="#"><img src="img/partner5.png" alt="partner5"></a>
  </div>
</section>